---
// src/pages/index.astro
import MainLayout from '../layouts/MainLayout.astro';
import HeroSection from '../components/index/HeroSection.astro';
import ServiceSection from '../components/index/ServiceSection.astro';
import WhyChooseUs from '../components/index/WhyChooseUs.astro';
---

<MainLayout 
  title="Bienvenido | Grupo Transporte RG" 
  description="Expertos en logística y transporte de carga nacional e internacional con más de 20 años de experiencia."
>
  <div class="w-full flex flex-col items-center">
    
    <div class="max-w-7xl mx-auto w-full">
        <HeroSection />
    </div>

    <div class="w-full bg-zinc-100 dark:bg-zinc-900">
        <div class="max-w-7xl mx-auto">
            <ServiceSection />
        </div>
    </div>

    <div class="w-full bg-white dark:bg-black">
        <div class="max-w-7xl mx-auto">
            <WhyChooseUs />
        </div>
    </div>

  </div>
</MainLayout>